<!DOCTYPE html>
<html lang="ko">
	<head>
		<title> 릴레이 만화/소설 메인페이지</title>
		<meta charset="utf-8" content-type="application/json" />
	</head>

	<script>
		window.onload = function(){
			const response = new Response();
			console.log(response.headers.get('Location'));
		}

        function loginSend() {
            const loginForm = document.getElementById("loginForm");
            const id = loginForm.loginID.value;
            const pw = loginForm.loginPW.value;
            //id 15자이하, 영문숫자만
            //정규식 if문

            //pw 20자이하, 영문숫자 (특수문자)~, !, @, #, $,* 만
            //정규식 if문

            const loginData = JSON.parse(JSON.stringify({
                id: id,
                pw: pw,
                pageURL: "LoginProcess",
                returnPageURL: "/index.html"
            }));
            console.log(loginData);

            //httpRequest로 데이터 보내기 (withDataPageRouting.php에만 적용)
            request = new XMLHttpRequest();
            //get response
            request.onreadystatechange = function() {
                if(request.readyState===XMLHttpRequest.DONE){
                    alert(request.responseText);
                }
            }
            request.open("GET", "/controller/withDataPageRoute.php", true);
            request.setRequestHeader("Content-type", "application/json");
            request.send("data=" + loginData); //$_GET['data']

            // loginForm.action="/controller/withDataPageRoute.php";
            // loginForm.method="GET";
            // loginForm.submit();
        }
	</script>

	<body>
		<h1> 로그인 페이지 </h1>
		<form id="loginForm">
            <input type="text" id="loginID" placeholder="ID입력" />
            <input type="password" id="loginPW" placeholder="비밀번호 입력" />
			<button type="button" onclick="loginSend()"> 로그인 </button>
		</form>
	</body>
</html>
